<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LeerCopyWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LeerCopyWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeerCopyWPF.Properties.Settings>
            <setting name="CopyKey" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EditKey" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="SaveKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ClearKey" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="QuitKey" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="TipsKey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="SettingsWin" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="SelectAll" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DefaultSaveExt" serializeAs="String">
                <value>.bmp</value>
            </setting>
            <setting name="AppDataLoc" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="MainWinX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWinY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SwitchScreenKey" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="BorderKey" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="BorderVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="TipsVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="DefaultFileName" serializeAs="String">
                <value>L33R</value>
            </setting>
            <setting name="SelectionBorderBrush" serializeAs="String">
                <value>#FF32CD32</value>
            </setting>
            <setting name="SelectionWinOpacity" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SelectionBorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
        </LeerCopyWPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LeerCopyWPF.Properties.Settings>
            <setting name="KeyUpNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CopyKey</string>
                        <string>EditKey</string>
                        <string>SaveKey</string>
                        <string>ClearKey</string>
                        <string>QuitKey</string>
                        <string>TipsKey</string>
                        <string>SettingsWin</string>
                        <string>SelectAll</string>
                        <string>SwitchScreenKey</string>
                        <string>BorderKey</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LeerCopyWPF.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
