<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeerCopyWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeerCopyWPF.Properties.Settings>
            <setting name="KeyNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CopyKey</string>
                        <string>EditKey</string>
                        <string>SaveKey</string>
                        <string>ClearKey</string>
                        <string>QuitKey</string>
                        <string>TipKey</string>
                        <string>NewLeerKey</string>
                        <string>SettingsWinKey</string>
                        <string>SelectAllKey</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CopyKey" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EditKey" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="SaveKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ClearKey" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="QuitKey" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="TipKey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="NewLeerKey" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="SettingsWinKey" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="SelectAllKey" serializeAs="String">
                <value>A</value>
            </setting>
        </LeerCopyWPF.Properties.Settings>
    </userSettings>
</configuration>